.cart-icon-container {
	position: fixed;
	right: 20px;
  height: 50px;
  width: 46px;
	z-index: 1;
  background: url('../../images/cart_icon.svg') no-repeat center center;
	cursor: pointer;
  background-size: 34px;
}
