.checkout-preview-content-container {
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 50px;
  right: 20px;
  min-height: 30%;
  background-color: #ededed;
  box-shadow: -0.6px 9px 47.5px 1.5px rgba(0, 0, 0, 0.29);
}

.no-order {
  padding: 50px 29px;
}

.start-order{
  width: 100% !important;
}

.negative-box {
  padding: 39px 28px;
  font-size: 22px;
  text-align: center;
  color: #2b2b2b;
  line-height: 1.4;
  border: solid 2px #de1010;
  text-transform: uppercase;
}
