.counter-container {
  display: flex;
}

.val {
  padding: 0 10px;
}

.plus,
.minus {
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.plus {
  background: url('../../images/counter/plus.svg');
}

.minus {
  background: url('../../images/counter/minus.svg');
}
