.burger-container{
  position: fixed;
  left: 1em;
  height: 30px;
  z-index: 1;
  top: 7px;
  display: inline-block;
  cursor: pointer;
}

.bar-item {
  width: 32px;
  height: 4px;
  background-color: #333;
  transition: 0.4s;
  margin-top: 6px;
}

.menu-container {
  background-color: rgba(0, 0,0 , 0.2);
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fade-enter-active, .fade-leave-active {
  opacity: 1;
  transition: all ease .4s;
  transform: translateX(0);
  pointer-events: auto;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
  pointer-events: none;
  transition: all ease 0.6s;
  transform: translateX(-100%);
}

.menu {
  height: 100%;
  position: relative;
  width: 310px;
  background-color: #fff;
}

.menu-profile {
  display: flex;
  height: 20%;
}

.menu-profile div {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-img {
  background-color: #626262;
  width: 40%;
}
.user-name {
  background-color: #d4d4d4;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #1b1b1b;
  width: 60%;
}

.menu-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  height: 60%;
  margin-top: 50px;
}

.menu-secondary {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  height: 20%;
}

.menu-item {
  margin: 0 30px 40px;
  width: 50%;
}

.menu-item:before {
  content: '';
  height: 40px;
  width: 40px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 40px;
}

.home:before {
  background-image: url('../../images/home_icon.svg');
}

.edit-profile:before {
  background-image: url('../../images/edit_icon.svg');
}

.tracking-orders:before {
  background-image: url('../../images/tracking_order_icon.svg');
  background-size: 52px;
}
.pay-order:before {
  background-image: url('../../images/profile/card_icon.svg');
  background-size: 32px;
}
.signout:before {
  background-image: url('../../images/signout_icon.svg');
}

.menu-item a {
  font-size: 17px;
  color: #4a79d1;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  padding: 7px 0 12px 50px;
  display: block;
  text-transform: uppercase;
  cursor: pointer;
}

.close {
  position: absolute;
  top: 22%;
  right: 15px;
  font-size: 34px;
  font-weight: 600;
  color: #4a79d1;
  cursor: pointer;
}
