.hide {
  display: none;
}

.menu-container {
  background-color: #fff;
  width: 358px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;

  animation: slide-out 0.5s forwards;
  -webkit-animation: slide-out 0.5s forwards;
}

.menu {
  height: 100%;
  position: relative;
}

.slide-in {
  display: block;
  animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.5s forwards;
}

@keyframes slide-in {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
  0% { -webkit-transform: translateX(-100%); }
  100% { -webkit-transform: translateX(0%); }
}

@keyframes slide-out {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

@-webkit-keyframes slide-out {
  0% { transform: translateX(0%); }
  100% { -webkit-transform: translateX(-100%); }
}

.profile {
  display: flex;
  height: 20%;
}

.profile div {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-img {
  background-color: #626262;
  width: 40%;
}
.user-name {
  background-color: #d4d4d4;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #1b1b1b;
  width: 60%;
}

.menu-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  height: 60%;
  margin-top: 50px;
}

.menu-secondary {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  height: 20%;
}

.menu-item {
  margin: 0 30px 40px;
  width: 50%;
}

.menu-item:before {
  content: '+';
  height: 40px;
  width: 40px;
  background: #000;
  position: absolute;
}

.menu-item a {
  font-size: 17px;
  color: #4a79d1;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  padding: 7px 0 12px 50px;
  display: block;
  text-transform: uppercase;
}

.close {
  position: absolute;
  top: 22%;
  right: 15px;
  font-size: 34px;
  font-weight: 600;
  color: #4a79d1;
  cursor: pointer;
}