.product{
  display: inline-block;
  font-size: 15px;
  width: 100%;
  margin: 0 0 10px 0;
  vertical-align: top;
  padding-bottom: 12px;
 }
.product-photo{
  display: inline-block;  
  width: 40%;
}
.product-foto{
  width: 105%;
  position: relative;
  left: -10%;
}
.product-detail{
  display: inline-block;  
  text-align: left;
  width: 58%;
}
.product-estrelas{
  width: 14px;
}
.product-estrelas-opaco{
  opacity: 0.2;
}
.product-title{
  font-weight: bolder;
  font-size-adjust: +1;
}
.product-value{
  font-size: 11px;
  padding: 5px 0;
  text-align: right;
}
.product-value label{
  font-size: 19px;
  font-weight: bold;
}
