.product-header {
  display: flex;
  flex-direction: row;
  font-size: 14.6px;
}

.product-price-unit {
  color: #9a1010;
}

.product-price {
  color: #434343;
  padding: 0 10px;
}

.product-evaluations {
  position: relative;
  width: calc(15px * 5);
}

.star-neutral,
.star-active {
  position: absolute;
  left: 0;
  top: 0;
  height: 15px;
  background: url('../../images/product-detail/star-active.svg');
}

.star-neutral {
  opacity: 0.3;
  width: 100%;
}
.star-active{
  opacity: 1;
}

.product-title {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: #000000;
}

.product-desc {
  margin-top: 3px;
  font-size: 13.9px;
  line-height: 1.43;
  text-align: left;
  color: #606060;
}

.summary-items {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
