.product-card{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-height: 120px;
  border-bottom: 1px solid #c4c4c4;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.image{
  width: 35%;
  height: 108px;
}

.image img{
  width: 100%;
  height: 100%;
}
.detail{
  width: 60%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.title{
  padding-top: 2px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.description {
  padding-top: 6px;
  font-size: 12px;
  color: #434343;
  text-transform: uppercase;
}

.star {
  background: url('../../images/product-detail/star-active.svg');
  background-size: 27px;
  width: 27px;
  height: 27px;
  margin: 0px 5px;
  opacity: 0.3;
  display: inline-flex;
}

.star-active {
  opacity: 1;
}
