.custom-ingredients {
  margin-top: 15px;
}
.custom-ingredients .title {
  font-size: 15px;
  font-weight: 300;
  text-align: left;
  color: #000000;
  display: block;
}

.ingredients-list li {
  margin-top: 10px;
  text-align: left;
}

.ingredients-list li .ingredientes-section{
  background-color: #3366cc;
  padding: 12px;
  color: #fff;
  display: block;
  position: relative;
}

.ingredients-list li .ingredientes-section + ul {
  display: none;
}

.ingredients-list li .ingredientes-section.active + ul {
  display: block;
}

.ingredients-list li .ingredientes-section::after {
  content: '';
  width: 15px;
  height: 18px;
  background: url('../../images/product-detail/arrow.svg');
  position: absolute;
  right: 10px;
}

.ingredients-list li .ingredientes-section.active::after {
  transform: rotate(90deg);
}

.ingredients-list li ul li{
  background-color: #e1e1e1;
  padding: 5px 12px;
  margin: 0;
  font-size: 13.9px;
  color: #606060;
  display: flex;
  justify-content: space-between;
}

.ingredients-list li ul li:nth-child(even) {
  background-color: #fff;
}

.custom-ingredients .add-order {
  cursor: pointer;
  position: fixed;
  bottom: 0;
  background: #fff;
  padding: 15px 0;
  width: 100%;
  font-size: 19px;
  text-align: center;
  color: #3366cc;
  box-shadow: none;
  margin: 0;
  border-top: 1px solid #3366cc;
}
