.product-header {
  display: flex;
  flex-direction: row;
  font-size: 14.6px;
}

.product-price-unit {
  color: #9a1010;
}

.product-price {
  color: #434343;
  padding: 0 10px;
}

.product-title {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: #000000;
}

.product-desc {
  margin-top: 3px;
  font-size: 13.9px;
  line-height: 1.43;
  text-align: left;
  color: #606060;
}
