body {
  background: url('../images/login/background.svg') no-repeat center center fixed;
  background-position: bottom center;
  background-size: cover;
}

.elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.plate {
  width: 84px;
  height: 90px;
  margin: 40px auto;
  background-image: url('../images/login/plate.svg');
  margin-bottom: 60px;
}

.authenticators {
  display: flex;
  flex-wrap: wrap;
  margin: 0 30px;
  justify-content: center;
}

.authenticator-item {
  width: 240px;
  padding: 22px;
  position: relative;
  background-color: rgba(225, 225, 225, 0.76);
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

.authenticator-item:not(:first-child) {
  margin-top: 60px;
}

.authenticator-item::before {
  width: 59px;
  top: 0;
  left: 0;
  height: 59px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
}

.facebook::before {
  background-image: url('../images/login/facebook_icon.svg');
}

.google::before {
  background-image: url('../images/login/google_icon.svg');
}

.menyoo-account::before {
  background-image: url('../images/login/email_icon.svg');
}

@media (min-width: 600px){
  .elements {
    flex-direction: column;
  }
  .authenticators {
    flex-direction: column;
  }

  .authenticator-item {
    align-self: center;
  }
}
.menyoo-slogan {
  width: 238px;
  height: 71px;
  margin: 40px auto;
  background-image: url('../images/login/menyoo-slogan.svg');
  background-repeat: no-repeat;
  background-position: 50% center;
}