.awaitorder-container{
  align-content: center;
}
.awaitorder{
    color: #393;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
}
.awaitorder img{
  width: 150px;
  height: 150px;
}
.awaitorder span{
  width: 160px;
  font-size: 19px;  
  text-transform: uppercase;
}
.awaitorder div{
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  -webkit-filter: grayscale(100%) brightness(400%) brightness(90%);
  filter: grayscale(100%) brightness(400%) brightness(90%);
}
.awaitorder .active{
  -webkit-filter: none;
  filter: none;
}
@media (min-width: 600px){
  .awaitorder div{
    flex-direction: column;
    padding: 5px;
  }
  .awaitorder{
    flex-direction: row;
    margin: auto 30px;
    width: 90%;
  }
}
.awaitorder-paybtn{
  display: flex;
}
