.search{
  margin: 10px auto;
  width: 339px;
  padding-left: 32px;
  height: 32px;
  position: relative;
  border: solid 1.5px #bebebe;
}

.search::before {
  content: '';
  width: 14px;
  height: 14px;
  background-image: url('../images/search_icon.svg');
  background-size: cover;
  position: absolute;
  top: 7px;
  left: 12px;
}

.search_field {
  padding: 7px;
  width: 90%;
  border: none;
}

.lista{
  width: 100%;
}
