.filtro{
  margin: 10px 0;
}
#filtro{
  width: 50%;
  padding-left: 32px;
  height: 32px;
}
.filtro_ico{
  width: 16px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  left: 30px;
  top: 4px;
  opacity: 0.5;
}

.lista{
  width: 100%;
}
