.search{
  margin: 10px auto;
  width: 80%;
  height: 32px;
  position: relative;
}
.search_field:hover,
.search_field:focus,
.search_field:active{
  border: solid 1.5px #BE1622;
}
.search_field {
  padding: 7px 32px;
  width: 80%;
  border: solid 1px #bebebe;
  background-image: url('../images/search_icon.svg');
  background-size: 16px 16px;
  background-position: 6px;
  background-repeat: no-repeat;
}
.lista{
  width: 100%;
}
