.product-detail-container {
  position: relative;
  padding-bottom: 50px;
}
.product-galery{
  display: flex;
}
.product-galery img {
  height: 160px;
  margin: auto;
  /* width: 100%; */
}
.product-info {
  padding: 19px 25px;
  text-transform: uppercase;
}
