.product-detail-container {
  position: relative;
  padding-bottom: 50px;
}
.product-galery {
  height: 160px;
  width: 100%;
  background-color: #000;
}

.product-info {
  padding: 19px 25px;
  text-transform: uppercase;
}

.custom-ingredients {
  margin-top: 15px;
}
.custom-ingredients .title {
  font-size: 15px;
  font-weight: 300;
  text-align: left;
  color: #000000;
  display: block;
}

.ingredients-list li {
  margin-top: 10px;
  text-align: left;
}

.ingredients-list li .ingredientes-section{
  background-color: #3366cc;
  padding: 12px;
  color: #fff;
  display: block;
  position: relative;
}

.ingredients-list li .ingredientes-section + ul {
  display: none;
}

.ingredients-list li .ingredientes-section.active + ul {
  display: block;
}

.ingredients-list li .ingredientes-section::after {
  content: '';
  width: 15px;
  height: 18px;
  background: url('../images/product-detail/arrow.svg');
  position: absolute;
  right: 10px;
}

.ingredients-list li .ingredientes-section.active::after {
  transform: rotate(90deg);
}

.ingredients-list li ul li{
  background-color: #e1e1e1;
  padding: 5px 12px;
  margin: 0;
  font-size: 13.9px;
  color: #606060;
  display: flex;
  justify-content: space-between;
}

.ingredients-list li ul li:nth-child(even) {
  background-color: #fff;
}

.ingredients-list li ul li .checkbox {
  border: solid 1px #7c7c7c;
  padding: 4px;
}

.checkbox:before {
  content: '';
  width: 4px;
  display: block;
  height: 4px;
}

.ingredients-list li ul li .checkbox.checked:before {
  background-color: #f00;
}

.product-detail-container .add-order {
  cursor: pointer;
  position: fixed;
  bottom: 0;
  background: #fff;
  padding: 15px 0;
  width: 100%;
  font-size: 19px;
  text-align: center;
  color: #3366cc;
  box-shadow: none;
  border-top: 1px solid #3366cc;
}

.summary-items {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
