.product-detail-container {
  position: relative;
  padding-bottom: 50px;
}
.product-galery {
  height: 160px;
  width: 100%;
  background-color: #000;
}

.product-info {
  padding: 19px 25px;
  text-transform: uppercase;
}
